---
import type { CollectionEntry } from 'astro:content'

import { docsSections, getDocsBySection, trimCollectionSlug } from '@/lib/docs'

type Props = {
  entries: CollectionEntry<'docs'>[]
  currentPath: string
}

const { entries, currentPath } = Astro.props as Props
const withBase = (path: string) => `${import.meta.env.BASE_URL.replace(/\/$/, '')}${path}`
---

<aside class='docs-sidebar'>
  {docsSections.map((section) => {
    const sectionEntries = getDocsBySection(entries, section.slug)

    return (
      <section class='docs-sidebar__section'>
        <p class='docs-sidebar__eyebrow'>{section.title}</p>
        <ul class='docs-sidebar__list'>
          {sectionEntries.map((entry) => {
            const href = `/docs/${entry.data.section}/${trimCollectionSlug(entry.id)}`

            return (
              <li>
                <a href={withBase(href)} class:list={{ 'docs-sidebar__link': true, 'is-active': currentPath === href }}>
                  <span>{entry.data.title}</span>
                </a>
              </li>
            )
          })}
        </ul>
      </section>
    )
  })}
</aside>
